.placeholder {
  &:not(.btn):not([class*='bg-']) {
    background-color: currentColor !important;
  }

  &:not(.avatar):not([class*='card-img-']) {
    @include border-radius(var(--#{$prefix}border-radius));
  }
}
